@media only screen and (max-width: 767px) {
    #mobile {
        height: 100px;
    }
}
@media only screen and (max-width: 767px) {
    #mobile1 {
        height: 80px;
        margin-bottom: 0;
    }
    #con1 {
        background-color: transparent;
    }
}
@media only screen and (min-width: 768px) {
    #con1 {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

