@media only screen and (min-width: 768px) {
  .card-deck {
    display: inline-flex;

  }
  .form-control {
    width: 1095px;
  }
  .card {
        width:350px;
    }
}
@media only screen and (max-width: 767px) {
  .form-control {
    width: 200px;
  }
  .col-sm-4 {
    margin-top: 20px;
  }
  .card {
        width:280px;
    }
 }
