.fakeimg {
    height: 200px;
    background: #aaa;
}
 .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    display: block;
}
a {
    text-decoration: none;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}
body {
    background-image: url(https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/netflixteaser.png);
    margin:0;
    padding:0;
    position:relative;
    background-size:cover;
    overflow:auto;
    overflow-x: hidden;
}
.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}
.fa-li {
  position: relative;
  left: 0;
}
.myclass:hover .mclass{
    display: none
}
.myclass:hover:before {
    content: "Logout"
}
